# Archivos temporales de Windows
*.tmp
*.temp
Thumbs.db
desktop.ini

# Archivos de sistema y AppData
AppData/
Documents/
Downloads/
Pictures/
Music/
Videos/
OneDrive/
*.lnk

# Archivos de VS Code
.vscode/

# Otros archivos no deseados
*.log
*.bak